[submodule "components/lwm2m-protobuf"]
	path = components/lwm2m-protobuf
	url = https://github.com/edgez-ai/lwm2m-protobuf.git
[submodule "components/wakaama"]
	path = components/wakaama
	url = https://github.com/edgez-ai/wakaama.git
